@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hide the default scrollbar for Webkit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7c7c7; /* Gray handle */
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Darker gray handle */
}


.content {
  display: flex;
}

.css-j204z7-MuiFormControlLabel-root {
  margin-left: 0 !important;
  margin-right: 0 !important;
  overflow: visible !important;
}
.css-wexneb-MuiSwitch-root {
  margin: 0 !important;
}
.css-xvav2l-MuiSwitch-root {
  overflow: visible !important;
}
